In [1]:
import pandas as pd

# import data
df = pd.read_csv('raw_data.csv')

In [2]:
new_data = df.copy()

# Remove duplicate rows 
new_data.drop_duplicates(inplace=True)

# Handle missing values
age_mean = round(new_data["age"].mean())
new_data["age"] = new_data["age"].fillna(age_mean)

new_data["income"] = new_data["income"].ffill()

common_country = new_data["country"].mode()[0]
new_data["country"] = new_data["country"].fillna(common_country)

new_data["gender"] = new_data["gender"].fillna("Unknown")
new_data["name"] = new_data["name"].fillna("Not Available")

# Sort data

new_data = new_data.sort_values("income")
new_data = new_data.reset_index(drop=True)
new_data

   id           name   age country   gender   income
0   9    Carlos Ruiz  33.0  Mexico     Male  45000.0
1   4   Maria Garcia  34.0   Spain   Female  47000.0
2   3           Alex  33.0     USA  Unknown  47000.0
3   5         Li Wei  27.0   China     Male  51000.0
4   1       John Doe  29.0     USA     Male  55000.0
5  10    Emily Davis  31.0     USA  Unknown  58000.0
6   2     Jane Smith  33.0  Canada   Female  62000.0
7   8     Rachel Lee  29.0     USA   Female  62000.0
8   7     Ahmed Khan  38.0     USA     Male  68000.0
9   6  Not Available  45.0   India   Female  73000.0

In [3]:
# Write into csv file

new_data.to_csv("Cleaned_raw_data.csv")