In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "country": ["USA", "USA", "India", "India"],
    "year": [2020, 2021, 2020, 2021],
    "sales": [100, 120, 90, 110],
    "profit": [20, 25, 18, 22] 
}) 

df

  country  year  sales  profit
0     USA  2020    100      20
1     USA  2021    120      25
2   India  2020     90      18
3   India  2021    110      22

In [3]:
# melt() : Converts wide-format data into long-format data

# id_vars   : Columns to keep as identifiers
# value_vars: Columns to unpivot
# var_name  : Name of the column that stores former column names
# value_name: Name of the column that stores values

melted_data = df.melt(
    id_vars=["country", "year"],
    value_vars=["sales", "profit"],
    var_name="metrics",
    value_name="value"
)

In [4]:
# pivot() : Converts long-format data back into wide-format

# index   : Columns to use as row index
# columns : Column whose unique values become new columns
# values  : Column providing the values for the new table

original_data = melted_data.pivot(
    index = ["country", "year"],
    columns = "metrics",
    values="value"   
)

original_data

metrics       profit  sales
country year
India   2020      18     90
        2021      22    110
USA     2020      20    100
        2021      25    120