In [1]:
import pandas as pd

In [2]:
# Merging & Joining

# Customers DataFrame
df_customers= pd.DataFrame({ 
    "customer_id": [1, 2, 3, 4],
    "name": ["Adam", "Bob", "Charlie", "Dave"]
}) 


# Orders DataFrame
df_orders= pd.DataFrame({ 
    "order_id": [101, 102, 103, 104],
    "customer_id": [2, 1, 4, 5],
    "amount":[250, 120, 300, 180]
})

In [3]:
# Merging & Joining : 

# Inner Join: Returns only rows with matching 'customer_id' in both DataFrames
pd.merge(df_customers, df_orders, on="customer_id")

   customer_id  name  order_id  amount
0            1  Adam       102     120
1            2   Bob       101     250
2            4  Dave       103     300

In [4]:
# Merging & Joining : 

# Left Join: Returns all rows from df_customers and matching rows from df_orders
# Non-matching rows in df_orders will have NaN values
pd.merge(df_customers, df_orders, on="customer_id", how="left")

   customer_id     name  order_id  amount
0            1     Adam     102.0   120.0
1            2      Bob     101.0   250.0
2            3  Charlie       NaN     NaN
3            4     Dave     103.0   300.0

In [5]:
# Merging & Joining : 

# Right Join: Returns all rows from df_orders and matching rows from df_customers
# Non-matching rows in df_customers will have NaN values
pd.merge(df_customers, df_orders, on="customer_id", how="right")

   customer_id  name  order_id  amount
0            2   Bob       101     250
1            1  Adam       102     120
2            4  Dave       103     300
3            5   NaN       104     180

In [6]:
# Merging & Joining : 

# Outer Join: Returns all rows from both DataFrames
# Non-matching rows will have NaN values in columns where no match is found
pd.merge(df_customers, df_orders, on="customer_id", how="outer")

   customer_id     name  order_id  amount
0            1     Adam     102.0   120.0
1            2      Bob     101.0   250.0
2            3  Charlie       NaN     NaN
3            4     Dave     103.0   300.0
4            5      NaN     104.0   180.0