In [1]:
import pandas as pd

In [2]:
# DataFrames

df1 = pd.DataFrame({
    "ID": [1, 2, 3],
    "Name": ["Pranav", "Buddy", "Ketan"]
})

df2 = pd.DataFrame({
    "ID": [4, 5, 6],
    "Name": ["Shivraj", "Viraj", "Ruchir"]
})

df3 = pd.DataFrame({
    "Age": [23, 22, 30],
    "City": ["Phaltan", "Pune", "Delhi"]
})

In [3]:
# vertical Concatenation

vertical_concat_data = pd.concat([df1, df2], axis=0)
vertical_concat_data

vertical_concat_data = pd.concat([df1, df2], axis=0, ignore_index=True)
vertical_concat_data

# ignore_index=True : Reindexes the result after vertical concatenation

   ID     Name
0   1   Pranav
1   2    Buddy
2   3    Ketan
3   4  Shivraj
4   5    Viraj
5   6   Ruchir

In [4]:
# Horizontal Concatenation
# Stack DataFrames horizontally (adds columns)

# Rows must match
horizontal_concat = pd.concat([df1, df3], axis=1)
print(horizontal_concat)

   ID    Name  Age     City
0   1  Pranav   23  Phaltan
1   2   Buddy   22     Pune
2   3   Ketan   30    Delhi