In [1]:
# BeautifulSoup

from bs4 import BeautifulSoup

In [2]:
with open("scraped_data/data1.html", "r", encoding="utf-8") as f:
    html_content = f.read()

soup = BeautifulSoup(html_content, "lxml")

In [3]:
all_h3 = soup.find_all("h3")

all_countries = []

for h3 in all_h3:
    
    # Country name
    name = h3.get_text(strip=True)
    
    # find_next(): find the next <div> after <h3>
    next_div = h3.find_next("div")
    
    # select() to get the population span inside that div
    population_span = next_div.select("span.country-population")[0]
    population = population_span.get_text(strip=True)

    all_countries.append([name, population])

In [4]:
import pandas as pd

df = pd.DataFrame(all_countries, columns=["Country", "Population"])
df

                  Country Population
0                 Andorra      84000
1    United Arab Emirates    4975593
2             Afghanistan   29121286
3     Antigua and Barbuda      86754
4                Anguilla      13254
..                    ...        ...
245                 Yemen   23495361
246               Mayotte     159042
247          South Africa   49000000
248                Zambia   13460305
249              Zimbabwe   11651858

[250 rows x 2 columns]

In [5]:
# Store data into csv file
df.to_csv("country_data.csv")