In [1]:
import pandas as pd

# import csv file
df = pd.read_csv('globalAirQuality.csv')

In [2]:
# query

df.query("aqi > 100")
df.query("aqi > 100 & temperature > 30")

aqi_val = 195
df.query("aqi >= @aqi_val & temperature > 30")[["city", "aqi"]]

              city  aqi
3115   Mexico City  196
7024         Delhi  195
11564      Jakarta  198
12776     Auckland  196
17458     Helsinki  202

In [3]:
# query

# Select rows where city is Mumbai
df.query("city == 'Mumbai'")

# list of cities
cities = ["Mumbai", "Delhi"]
# Select rows where the "city" column value is present in the cities list
df.query("city in @cities")

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
6480,2025-11-04 18:25:17.554219,IN,Mumbai,19.076,72.878,45.820,86.378,19.605,7.877,42.399,0.432,91,10.045,89.524,9.220
6481,2025-11-04 19:25:17.554219,IN,Mumbai,19.076,72.878,30.901,37.578,24.789,6.175,27.457,0.696,61,20.684,45.327,5.640
6482,2025-11-04 20:25:17.554219,IN,Mumbai,19.076,72.878,43.462,53.136,20.056,8.264,60.784,0.893,86,26.774,72.434,0.766
6483,2025-11-04 21:25:17.554219,IN,Mumbai,19.076,72.878,27.480,58.907,41.722,8.539,59.209,0.361,104,6.142,39.544,9.526
6484,2025-11-04 22:25:17.554219,IN,Mumbai,19.076,72.878,25.216,53.843,29.847,6.027,25.765,0.980,74,20.644,57.349,2.674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7195,2025-11-19 13:25:17.554219,IN,Delhi,28.704,77.102,16.101,19.223,57.290,7.124,63.720,0.568,143,11.819,80.977,4.030
7196,2025-11-19 14:25:17.554219,IN,Delhi,28.704,77.102,48.989,68.555,25.099,7.108,38.624,0.712,97,21.355,41.076,9.402
7197,2025-11-19 15:25:17.554219,IN,Delhi,28.704,77.102,37.461,14.375,25.422,8.830,48.149,0.469,74,37.608,43.422,1.466
7198,2025-11-19 16:25:17.554219,IN,Delhi,28.704,77.102,77.418,121.415,0.139,7.561,47.000,0.845,154,27.715,80.107,7.530
7199,2025-11-19 17:25:17.554219,IN,Delhi,28.704,77.102,62.481,87.965,13.657,2.311,63.675,0.800,124,12.333,86.384,1.656