In [1]:
import pandas as pd

In [2]:
'''
A DataFrame is a 2-dimensional, labeled data structure with :
- Rows (index)
- Columns (labels)
- Each column can have a different data type

'''

# Dataframe from dictionary
data = {
    "Name" : ["Pranav", "Buddy", "Shivraj"],
    "Age" : [23, 22, 22],
    "GPA" : [8.4, 9.1, 7.9]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  GPA
0   Pranav   23  8.4
1    Buddy   22  9.1
2  Shivraj   22  7.9

In [3]:
# DataFrame from list of lists

data = [ ["Pranav", 23, "Phaltan"], ["Buddy", 22, "Pune"], ["Shivraj", 21, "Nashik"] ]

df = pd.DataFrame(data, columns=["Name", "Age", "City"])
print(df)

      Name  Age     City
0   Pranav   23  Phaltan
1    Buddy   22     Pune
2  Shivraj   21   Nashik

In [4]:
# Accessing DataFrame

print(df["Name"])
df[["Name", "Age"]]

0     Pranav
1      Buddy
2    Shivraj
Name: Name, dtype: object

      Name  Age
0   Pranav   23
1    Buddy   22
2  Shivraj   21