In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('globalAirQuality.csv')

In [3]:
# selecting data

# columns
df["country"]
df[["country","city", "aqi"]]

      country      city  aqi
0          US  New York  108
1          US  New York   90
2          US  New York   84
3          US  New York  158
4          US  New York   97
...       ...       ...  ...
17995      CH    Zurich  103
17996      CH    Zurich  105
17997      CH    Zurich  122
17998      CH    Zurich   95
17999      CH    Zurich   88

[18000 rows x 3 columns]

In [4]:
# selecting data
# rows

# loc : selects rows by label/index name
df.loc[0]
df.loc[0:6:2] # start index : end index (enclusive) : step


# iloc : selects rows by integer positions (indexing)
df.iloc[5]
df.iloc[0:6:2] # start index : end index (exclusive) : step

# loc : label-based selection (includes the last index in slicing)
# iloc : position-based selection (excludes the last index in slicing)

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017

In [5]:
# selecting data
# cells - row & col

df.loc[0, "city"]
df.loc[0:3, ["city", "country"]]

df.columns

#df.iloc[0:5, [0, 1, 2]]
df.iloc[0:6, 1:5]

  country      city  latitude  longitude
0      US  New York    40.713    -74.006
1      US  New York    40.713    -74.006
2      US  New York    40.713    -74.006
3      US  New York    40.713    -74.006
4      US  New York    40.713    -74.006
5      US  New York    40.713    -74.006

In [6]:
# selecting data
# cell - single scalar value

df.at[0, "city"]
df.iat[0, 2]

'New York'