In [1]:
import pandas as pd

# import data
df = pd.read_csv('raw_data.csv')

In [2]:
# Cleaning Data : Handling Strings

gender = df["gender"]

# Convert all strings to lowercase
gender.str.lower()

# Convert all strings to uppercase
gender.str.upper()

# Capitalize the first letter of each string
gender.str.capitalize()

0        Male
1        Male
2      Female
3     Unknown
4      Female
5        Male
6      Female
7        Male
8      Female
9        Male
10        NaN
Name: gender, dtype: object

In [3]:
# Cleaning Data : Handling Strings

name = df["name"]

# Split each name by space
name.str.split(" ")

# "pranav@gmail.com".split("@")  ==> ['pranav', 'gmail.com']

0         [John, Doe]
1         [John, Doe]
2       [Jane, Smith]
3              [Alex]
4     [Maria, Garcia]
5           [Li, Wei]
6                 NaN
7       [Ahmed, Khan]
8       [Rachel, Lee]
9      [Carlos, Ruiz]
10     [Emily, Davis]
Name: name, dtype: object

In [4]:
country = df["country"]

# Check if 'india' exists in the country column
country.str.contains("india", case=False, na=False)

# case : Controls case sensitivity of the search
# na : Controls what to return for missing values (NaN)

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
Name: country, dtype: bool